# Dependencies
node_modules

# Testing
coverage

# Production
build
dist

# Vite/Other build output
.vite

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*

# Editor directories and files
.vscode
.idea