.prompt-suggestions-container {
	position: relative;
}

.prompt-suggestions-container form {
	display: flex;
	gap: var(--space-sm);
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
}

.prompt-helper-text {
	font-size: var(--font-size-small);
	color: var(--text-color-light);
	margin: 0 var(--space-md) var(--space-md);
}

.prompts-container {
	margin-top: var(--space-md);
}

.prompts-container li {
	font-size: var(--font-size-small);
}

.spinner-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	border-radius: var(--border-radius-md);
}

.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border-left-color: var(--secondary-color);
	animation: spin 1s ease infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
